.companyContainer{
    background-color: rgb(255, 255, 255);
    width: 78vw;
    height: 88vh;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.companyBrand{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}
.companyInformation{
}

.companyName{
}
.companyImg{
    height: 100px;
}

.companyFounded{
}
.companyCost{

}

.companyCost{
}
.companyOwnershipPercent{

}
.companyValue{

}
